<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Producttype:</strong>
  <%= @product.productType_id %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @product.shortDescription %>
</p>

<p>
  <strong>Longdescription:</strong>
  <%= @product.longDescription %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @product.upc %>
</p>

<p>
  <strong>Style:</strong>
  <%= @product.style_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
